[config]
cachePath = "/var/cache/ddpy.cache"
ip_plugin = "interfacecheck"
# ip_plugin = "webcheck"

[interfacecheck]
interface = "enp0s3"

[webcheck]
webCheckUrl = "http://ipv4bot.whatismyipaddress.com/"

[[zones]]
plugin = "route53"
# aws_access_key_id = "ABC123"
# aws_secret_access_key = "123/ABC"
zone = "zone1.com." # note fqdn with trailing perioid
domains = [
	"zone1.com.",
	"plex.zone1.com.",
	"git.zone1.com.",
	"mc.zone1.com."
]

[[zones]]
plugin = "route53"
zone = "zone2.ch."
domains = [
	"zone2.ch."
]
